<div class="new-announcement">
  <h1>新規投稿</h1>

  <%= form_with(model: @announcement, local: true, html: { multipart: true }) do |f| %>
    <div class="field">
      <%= f.label :title, '件名' %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :explanation, '内容' %>
      <%= f.text_area :explanation %>
    </div>

    <div class="field">
      <%= f.label :images, '画像' %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="actions">
      <%= f.submit '投稿する', class: 'submit-btn' %>
    </div>
  <% end %>
</div>