<div class="register-container">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :username, "名前(名字と名前にスペースは不要です)" %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "名前を漢字で入力" %>
    </div>

    <div class="form-group">
      <%= f.label :telephone, "電話番号" %><br />
      <%= f.telephone_field :telephone, class: "form-control", placeholder: "ハイフン(-)は不要" %>
    </div>

    <div class="form-group">
      <%= f.label :birthday, "誕生日" %><br />
      <%= f.date_field :birthday, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control",placeholder: "半角英数６文字以上" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード確認のため再度入力してください" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :role_id, "あなたは何に属していますか？" %><br />
      <%= f.select :role_id, Role.all.map { |role| [role.name, role.id] }, {}, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "登     録", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="login-link">
    <p>登録済みの方はログインへ</p>
    <%= link_to 'ログインはこちら', new_user_session_path %>
  </div>
</div>
