<div class="login-container">
  <h2>ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :username, "名前(名字と名前にスペースは不要です)" %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "名前を漢字で入力" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control",placeholder: "半角英数６文字以上" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="register-link">
    <p>登録はこちら</p>
    <%= link_to '新規登録', new_user_registration_path %>
  </div>
</div>