<div class="container">
  <h1>メインメニュー</h1>
  <%= link_to 'お知らせ', announcement_index_path, class: 'btn btn-primary' %>
  <%= link_to 'カレンダー', calendar_index_path, class: 'btn btn-primary' %>
  <%= link_to '日誌', diary_index_path, class: 'btn btn-primary' %>
  <%= link_to '試合結果', result_index_path, class: 'btn btn-primary' %>
  <%= link_to '集計管理', total_index_path, class: 'btn btn-primary' %>
</div>