<!DOCTYPE html>
<html>
  <head>
    <title>App Title</title>
    <%= stylesheet_link_tag "application", media: "all" %> 
    <%= stylesheet_link_tag "main_menu", media: "all" %> <!-- 追加 -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
