<!DOCTYPE html>
<html>
<head>
  <title>bukatu</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag 'login', media: 'all' if controller.action_name == 'new' && controller.controller_name == 'sessions' %>
<%= stylesheet_link_tag 'registration', media: 'all' if controller.action_name == 'new' && controller.controller_name == 'registrations' %>
<%= stylesheet_link_tag 'main_menu', media: 'all' if controller.controller_name == 'main_menu' && controller.action_name == 'index' %>
<%= stylesheet_link_tag 'announcements', media: 'all' if controller.controller_name == 'announcements' %>
<%= stylesheet_link_tag 'calendars', media: 'all' if controller.controller_name == 'calendars' %>
<%= stylesheet_link_tag 'diaries_new', media: 'all' if controller.controller_name == 'diaries' && controller.action_name == 'new' %>
</head>
<body>
  <% unless controller.action_name == 'new' && controller.controller_name.in?(%w[sessions registrations]) %>
    <header class="header">
      <a href="<%= authenticated_root_path %>" class="logo-button">
        <div class="logo">「bukatu」</div>
      </a>
      <div class="spacer"></div>
      <div class="catchphrase">部活を頑張るすべてのひとへ</div>
    </header>
  <% end %>

  <div class="main-content">
    <%= yield %> <!-- コンテンツがここに挿入されます -->
  </div>

  <% unless controller.action_name == 'new' && controller.controller_name.in?(%w[sessions registrations]) %>
    <footer class="footer">
      <p>bukatu by haru-teck</p>
    </footer>
  <% end %>
<%= javascript_include_tag 'main' if controller.controller_name == 'calendars' %>
</body>
</html>



